.skills-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-blue);
  scroll-margin-top: 3rem;
  height: 100vh;
}

.skills-div {
  display: flex;
  flex-direction: column;
  width: 88%;
}

.skills-section-title {
  color: var(--primary-pink);
  font-size: var(--tablet-title);
  margin: 3rem;
}

.skills-title_tech {
  color: var(--primary-pink);
  font-size: var(--tablet-md);
  margin: 3rem 0;
}

.skills_tech_icon {
  color: var(--white);
}

.skills-div_card {
  display: flex;
  flex-direction: row;
}

.skills-div-container_cards {
  background-color: rgba(227, 233, 241, 0.434);
  color: var(--white);
  padding: 2rem;
  border-radius: 2rem;
}

.skills-div_card_p {
  font-size: var(--tablet-md);
  margin-left: 1rem;
}

.icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.skills-section_content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding-left: 5rem;
}

.grid-icon {
  color: var(--white);
  font-size: 3.8rem;
  margin-bottom: 0.3rem;
}

.skills-section-content_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.skills-section-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  border: 0.1rem solid var(--primary-pink);
  font-size: var(--tablet-sm);
  color: var(--primary-pink);
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  text-decoration: none;

}

.skills-section_btn {
  background-color: var(--secondary-blue);
  font-size: var(--tablet-sm);
  color: var(--white);
  border-radius: 1rem;
  width: 100%;
  height: 3rem;
  cursor: pointer;
}

/* Tablet and Smaller Desktop */
@media (min-width: 500px) and (max-width: 900px) {
  .skills-section_btn {
    padding: 0rem;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .skills-div {
    width: 85%;
    flex-direction: column;
  }

  .skills-section-title {
    font-size: var(--desktop-title);
  }

  .skills-title_tech {
    font-size: var(--desktop-lg);
    margin: 4rem 0 3.5rem 0;
  }

  .skills-div-container_cards {
    width: 40%;
    margin-left: 7rem;
  }

  .icon {
    font-size: 4rem;
    margin-bottom: 0.8rem;
  }

  .skills_technologies {
    display: flex;
    flex-direction: column;
  }

  .grid-icon {
    font-size: 4.2rem;
    margin-bottom: 0.5rem;
  }

  .skills-div_card_p {
    font-size: var(--desktop-md);
  }

  .skills-section-content_links {
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }

  .skills-section-anchor {
    font-size: var(--desktop-md);
    margin-bottom: 0rem;
    width: 30%;
    padding: 2rem;
    margin-right: 6rem;
  }

  .skills-section_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--desktop-md);
    padding: 2rem;
    width: 30%;
    margin-left: 6rem;
  }

  .skills-section_content {
    padding-left: 15rem;
  }
}