.skills-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  scroll-margin-top: 110px;
  height: calc(100vh - 100px);
}

.skills-section-content {
  width: 60%;
}

.skills-section-title {
  color: var(--main-color-teal);
  margin-bottom: 50px;
  font-size: 3rem;
}

.skills-section-text {
  text-align: justify;
  color: var(--text-color);
  font-size: var(--lg);
}

.skills-section-text-links {
  margin-top: 100px;
  line-height: 1.0690;
  text-align: justify;
  color: var(--text-color);
  font-size: var(--lg);
}

.skills-section-anchor {
  text-decoration: none;
  line-height: 1.0690;
  color: var(--links);
  font-size: var(--lg);
}

.skills-section-anchor:hover{
  color: var(--main-color-teal);
}

.skills-section-conatainer-logos{
  flex: 1;
  margin: 138px  0 0 114px;
  
}


.skills-section-logos img {
  height: 90px;
  width: 90px;
  margin-bottom: 25px;
}