.home-section-conatiner {
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  justify-content: space-evenly;
  scroll-margin-top: 150px;
  margin-top: 50px;
  height: calc(100vh - 100px);
}


.home-left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 40%;
}

.home-section-title {
  font-weight: 600;
  letter-spacing: .01em;
  color: var(--text-color);
  font-size: 38px;
  font-weight: 400;
}

.home-section-subtitle {
  font-size: 44px;
  line-height: 1.0625;
  font-weight: 100;
  letter-spacing: -.01em;
  text-transform: none;
}

.home-section-text {
  font-size: 24px;
  line-height: 1.0625;
  font-weight: 100;
}

.home-button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.home-button-more {
  font-size: 24px;
  color: var(--links);
  text-decoration: none;
  background: white;
}

.home-button-more:hover{
  color: var(--deep-teal);
}

.home-right-section {
  display: flex;
  height: 640px;
  background: url('../../assets/bg-3.png') no-repeat;
  margin-top: 80px;
  align-items: center;

}

.home-section-img {
  width: 634px;
  height: 400px;
  padding-left: 4px;
}