.home-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  scroll-margin-top: 150px;
  background-color: var(--primary-blue);
}

.home-section-container_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  color: var(--primary-pink);
}

.home-section_hi {
  font-size: var(--tablet-sm);
  color: var(--grey);
}

.home-section_title {
  font-size: var(--tablet-md);
  color: var(--primary-pink);
}

.home-section-subtitle {
  font-size: var(--tablet-md);
}

.home-button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 3rem;
}

.home-btn_a {
  color: var(--primary-pink);
  text-decoration: none;
}

.home-btn_a:hover {
  color: var(--secondary-pink);
}

.home-section-container_down {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-frame_img{
  width: 36rem;
  height: 35.9rem;
  border-radius: 22rem;
  padding-bottom: 0.5rem;
  border: 0.5rem solid var(--primary-pink);
}

.home-section-img {
  width: auto;
  height: 34.9rem;
  border-radius: 22rem;
  border: 0.5rem solid var(--secondary-blue);
}

/* Tablet and Smaller Desktop */
@media (min-width: 500px) and (max-width: 900px) {
}

/* Desktop */
@media (min-width: 900px) {
  
  .home-section_hi {
    font-size: var(--desktop-md);
  }
  
  .home-section_title {
    font-size: var(--desktop-lg);
  }
  
  .home-section-subtitle {
    font-size: var(--desktop-lg);
  }
  .home-section-img {
    width: 48rem;
    height: 46rem;
    margin-top: 2rem;
    border-radius: 24rem;
    margin-top: 2rem;
  }

}