.contactMe-main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  scroll-margin-top: 15px;
}


.contactMe-container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactMe-title {
  color: var(--main-color-teal);
  font-size: 38px;
  font-weight: 300px;
}

.contact-container-links {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 40%;

}

.contact-card-icon {
  width: 300px;
  height: 200px;
  border: 3px solid var(--links);
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--links2);
}

.contact-link {
  font-weight: 800;
  font-size: 22px;
  text-decoration: none;
  color: var(--main-color-teal);
}

.contact-form-conatainer {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 70px;
}

label {
  color: var(--main-color-teal);
  font-weight: 400;
  font-size: 18px;
}

input {
  border: none;
  margin-bottom: 34px;
  border-bottom: 2px solid var(--links2);
}

input:focus,
textarea:focus {
  outline: thin;
}


.contact-button {
  width: 150px;
  height: 70px;
  font-size: 16px;
  font-weight: 300;
  color: var(--main-color-teal);
  background-color: var(--links2);
  border: 2px solid var(--links);
  border-radius: 12px;
  margin-left: 730px;
}

textarea {
  width: 100%;
  height: 300px;
  margin-top: 40px;
  border: 2px solid var(--links2);
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 25px;
  resize: none;
}

.contactMe-sent-success{
  font-size: 16px;
  font-weight: 700;
  color: var(--main-color-teal);
}