:root {
    --white: #FFFFFF;
    --black: #000000;
    --text-color: #01002D;
    --main-color-teal: #23BFC0;
    --mid-brown: #817167;
    --deep-brown: #5C4B44;
    --cream-color: #EDE7DF;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}