.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--primary-blue);
}

.navbar-logo {
  height: 2.5rem;
  margin-left: 0.5rem;
}

.nav-list-menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  display: none;
}

ul li .navbar-link {
  color: var(--primary-pink);
}

.nav-list-menu li:last-child a {
  margin-right: 5rem;
}

.nav-list-menu li {
  margin: 0 0 0 1.25rem;
}

.navbar-link {
  text-decoration: none;
  font-size: var(--tablet-md);
  color: var(--primary-pink);
}

.mobile-menu {
  padding: 2rem;
}

.mobile-menu a {
  text-decoration: none;
  font-size: var(--tablet-md);
  color: var(--primary-blue);
}

.mobile-menu ul {
  padding: 0;
  list-style: none;
  background: rgba(225, 222, 223, 0.919);
  color:var(--grey-deep);
  border-radius: 1rem;
}

.mobile-menu ul li {
  margin-bottom: 4rem;
}

.mobile-menu ul:last-child {
  position: absolute;
  right: 1rem;
  top: 0.2rem;
  padding: 2rem;
}

.mobile-menu ul:last-child li {
  margin: 0.8rem;
}

.hamb-menu_btn {
  border: none;
  background: none;
  margin: 0;
  display: block;
}

.hamb-menu_icon {
  font-size: var(--tablet-lg);
  color: var(--primary-pink);
}


/* Tablet and Smaller Desktop */
@media (min-width: 500px) and (max-width: 900px) {
  .nav-list-menu {
    display: none;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .mobile-menu {
    display: none;
  }

  .navbar-logo{
    height: 3rem;
    margin-left: 1rem;
  }

  .nav-list-menu {
    display: flex;
  }
  .navbar-link{
    font-size: var(--desktop-sm);
    color: var(--primary-pink);
  }
}