.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Signika Negative', sans-serif;
  position: sticky;
  top: 0;
  width: 100%;
  background: #FFE3ED;
}


.navbar-logo {
  height: 65px;
  width: 160px;
}

.nav-list-menu {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

ul li .navbar-link{
  color: var(--main-color-teal);
  font-weight: 500;
}

.nav-list-menu:last-child {
  margin-right: 80px;
}

.nav-list-menu li {
  margin: 0 0 0 20px;
}

.navbar-link {
  text-decoration: none;
  font-size: var(--md);
  color: var(--black);
}

.navbar-line {
  border: 0.5px solid var(--main-color-teal);
}