.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Signika Negative', sans-serif;
}

.navbar-logo {
  height: 78px;
  width: 160px;
}

.nav-list-menu {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  
}

.nav-list-menu:last-child {
  margin-right: 80px;
}

.nav-list-menu li {
  margin: 0 0 0 20px;
}

li .nav-link {
  text-decoration: none;
  font-size: var(--md);
  color: var(--text-color);
}

.navbar-line {
  margin: 0;
  border: 0.5px solid var(--main-color-teal);
}