.container-aboutMe-section {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  scroll-margin-top: 6.8rem;
  background-color: var(--primary-blue);
}

.container-aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.aboutMe-div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 84%;
}

.aboutMe-section-title {
  font-size: var(--tablet-title);
  color: var(--primary-pink);
  margin-bottom: 3rem;
}

.aboutMe-section-text {
  color: var(--white);
  text-align: justify;
  font-family: var(--tablet-md);
  margin-bottom: 3rem;
}

.aboutMe-list {
  font-size: var(--tablet-md);
  color: var(--white);
  margin-left: 4.8rem;
}

li::marker {
  color: var(--secondary-pink);
}

.container-aboutMe-img {
  width: 25rem;
  height: 22rem;
  border: 0.4rem solid var(--secondary-blue);
  border-radius: 3rem;
}


/* Tablet and Smaller Desktop */
@media (min-width: 500px) and (max-width: 900px) {}

/* Desktop */
@media (min-width: 900px) {
  .aboutMe-div-container {
    flex: 1 auto;
  }

  .container-aboutMe {
    flex-direction: row;
    margin: 0 10rem 0 10rem;
    align-items: flex-start;
  }

  .container-aboutMe-img {
    width: 46rem;
    height: 46rem;
    border-radius: 36rem;
    border: 0.4rem solid var(--secondary-blue);
    margin-top: 10rem;
    margin-left: 3rem;
  }

  .aboutMe-section-title {
    font-size: var(--desktop-title);
    margin-bottom: 5rem;
  }

  .aboutMe-section-text {
    font-size: var(--desktop-md);
    margin-bottom: 3rem;
  }

  .aboutMe-list li {
    font-size: var(--desktop-md);
    color: var(--white);
    margin-left: 2rem;
  }

  li::marker {
    color: var(--secondary-blue);
  }

}